:root {
  --primary: #1755f9;
  --warning: #f9df17;
  --dark: #242424;
  --border-base: 1px solid var(--dark);
  --transition: all .25s ease-in;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--dark);
  background-color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
}

#app {
  width: calc(100vw - 4rem);
  height: calc(100vh - 6rem);
  padding: 2rem;
  text-align: center;
}
